.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: orange;
}

.logo {
    display: block;
    z-index: 2;
    @media screen and (min-width: 767px) {
        img {
            width: 157px;
        }
    }
    @media screen and (min-width: 1200px) {
        img {
            width: 250px;
        }
    }
}